<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Các file CSS tùy chỉnh khác có thể được thêm vào đây -->
</head>
<body>
    <!-- Header partial -->
    {{> header }}

    <!-- Nội dung trang sẽ được đổ vào đây -->
    {{{ body }}}

    <!-- Footer partial -->
    {{> footer }}

    <!-- Script của Bootstrap và các script tùy chỉnh khác có thể được thêm vào đây -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
